footer {
    background-color: #353535;
    padding: 25px;
  
    ul {
      list-style-type: none;
      li {
        padding: 5px 0 5 0;
       
        a{ 
          color: white;
        }

        }
      }


      h4{ 
        
        margin-bottom: 30px;
        color: white;
        font-family:'Shrikhand';

      }

      .fa-utensils {
        margin-right: 12px;
      }
      .fa-hands-helping {
        margin-right: 5px;
      }

    }